; Normal-priority workload: 1M sequential writes
; Simulates bulk/background I/O (large writes, scans, archival)
; Uses IOPRIO_CLASS_BE (class 2) for normal priority
[global]
ioengine=libaio
direct=1
time_based=1
runtime={{ runtime }}
ramp_time={{ ramp_time }}
group_reporting=1

[normal-prio-writes]
filename={{ device }}
rw=write
bs=1m
iodepth={{ iodepth }}
numjobs={{ numjobs }}
prio=4
prioclass=2
